<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Parent Portal</a>

        <ul>
            <li class="pure-menu-selected"><a href="/">Home</a></li>
            <li><a href="/attendance">Attendance</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="#">Sign Up</a></li>
        </ul>
    </div>
</div>
