<%- partial ('header.ejs') %>

<div class="pure-g">
  <div class="pure-u-1">
    <h1 class="content-head is-center">Report Generator</h1>
  </div>
</div>

<div class="pure-g" ng-app="reportApp" ng-controller="ReportController">
  <div class="pure-u-1">
    <form class="pure-form" action="/report/pdf" method="GET">
      <input name="cohort" placeholder="Cohort ID">
      From: <input type="date" name="dateFrom">
      Until: <input type="date" name="dateTo">
       <input type="range" name="points" min="0" max="10">
      <button type="submit" class="pure-button">Generate PDF Report</a>
    </form>
  </div>
  <hr>
  <div class="pure-u-1">
    <form class="pure-form">
      <input ng-model="studentName" placeholder="Name">
      <button type="submit" class="pure-button pure-button-primary" ng-click="newReport(studentName)">View Report</button>
    </form>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3 pure-u-ld-1-4" ng-repeat="course in report.courses">
      <div ng-show="matchedGrades.length">
        <h2>{{course.fullname}}</h2>
        <table class="pure-table">
          <thead>
            <tr>
              <th>Activity</th>
              <th>Mark</th>
              <th>Feedback</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="grade in matchedGrades = (report.grades |
            filter:{item : {course: course.id}, usermodified: '!null'})"
                ng-class-even="'pure-table-odd'">
              <td><h5>{{grade.item.itemname}}</h5></td>
              <td>{{grade.finalgrade*100.0/grade.rawgrademax | number: 1}}%</td>
              <td>{{grade.feedback}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
