<%- partial ('header.ejs') %>

<div class="pure-g">
  <div class="l-box-lrg pure-u-1">
    <h1 class="is-center">Login to Parent Portal</h1>
  </div>
</div>

  <div class="pure-g">
    <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
        <form class="pure-form pure-form-aligned">
            <fieldset>
              <div class="pure-control-group">
                <label for="name">Child's Name</label>
                <input id="name" type="text" placeholder="Your Name">
              </div>

              <div class="pure-control-group">
                <label for="password">Your Password</label>
                <input id="password" type="password" placeholder="Your Password">
              </div>

              <div class="pure-controls">
                <button type="submit" class="pure-button">Login</button>
              </div>
            </fieldset>
        </form>
    </div>

    <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
        <h4>Need help?</h4>
        <p>
          Contact the school's IT department to reset your password.
        </p>
    </div>

</div>
